select, input{
    padding: 6px;
    margin-right: 5px;
    background: #FFF;
    border: 1px solid #e1e1e1;
    outline: none;
    font-size: 1.8em;
    width: 100%;
    box-sizing : border-box;
}
label{
    height: 23px;
    width: 100%;
    line-height: 26px;
    color: #53371f;
    font-size: 1.6em;
    display: block;
}
.form .row{
    padding: 10px 0;
}
input[type="submit"]{
    background: #cc181e;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.container.full.registration{
    background: #EEEBE8;
    text-align: center;
}
.form .left{
    float: left;
    display: inline-block;
    width: 48%;
}
.form .right{
    float: right;
    display: inline-block;
    width: 48%;
}
.form{
    width: 320px;
    padding: 25px;
    margin: auto;
    display: inline-block;
    position: relative;
    text-align: left;
    border: 3px solid #cc181e;
    background: white;
    margin-top: 20px;
}