body{
    font-size: 65.5%;
    font-family: 'Open Sans', sans-serif;
    background-color: #eeebe8;
    position: relative;
}
html,body{
    height: 100%;
}
.dataLayer .overlay,.dataLayer{
    position: absolute;
    right:0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}
.dataLayer .overlay{
    background: rgba(78, 78, 78, 0.89);
}
.dataLayer .form{
    margin: auto;
    left: calc(50% - 176px);
    top: 40%;
    z-index: 2;
}
.user_toolbar a {
    font-size: 1.8em;
    display: block;
    color: #878787;
    text-decoration: none;
    background: #fff;
    padding: 6px 11%;
}
.user_toolbar span {
    padding-right: 10px;
}
.user_toolbar .icon-question,.user_toolbar .icon-letter{
    position: relative;
    top: 1px;
}
.text{
    font-size: 1.8em;
    line-height: 25px;
}
.user_toolbar a:hover{
    background: #444;
    color: #fff;
}
.main .container{
    width: calc( 100% - 240px );
    float: right;
    background: white;
}
.main .container.full{
    width: 100%;
    float: none;
}
.main .user_toolbar{
    width: 230px;
    position: relative;
    bottom: 0;
    float: left;
}
.user_toolbar{
    width: 230px;
}
.toolbar{
    background-color: #CC181E;
    color: #fff;
    font-weight: 700;
    border-bottom: 10px solid #fff;
    height: 105px;
    padding: 0 0 0 400px;
    position: relative;
    left: 0;
    right: 0;
}
.toolbar a,.toolbar a:visited{
    color: #fff;
    text-decoration: none;
}
.hidden{
    display: none;
    visibility: hidden;
}
.toolbar .item{
    display: inline-block;
    padding: 10px 2%;
}
.toolbar .item.logout,.item.register,.item.login{
    cursor: pointer;
}
.toolbar .item.logout:hover,.item.register:hover,.item.login:hover{
    color: #eeebe8;
}
.toolbar .left{
    position: absolute;
    width: 260px;
    height: 105px;
    left: 90px;
}
.main_nav{
    float: right;
    height: 50px;
    margin: 10px 0 0 0;
    position: relative;
    width: 100%;
}
.main_nav ul, .main_nav li{
    padding: 0;
    margin: 0;

}
.main_nav .lvl0>li{
    width: 25%;
    display: inline-block;
    float: left;
}
.main_nav .lvl0>li>a {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    color: #fff;
    display: block;
    font-size: 2.2em;
    font-weight: 500;
    height: 50px;
    line-height: 48px;
    padding: 0 5px 0 5px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}
.main_nav .lvl0>li>a:hover{
    background: rgb(204, 46, 51);
    color: #eeebe8;
}
.toolbar .icon-enter, .toolbar .icon-user,.toolbar .icon-exit{
    padding-right: 10px;
}
.toolbar .icon-enter{
    position: relative;
    top: 2px;
}
.toolbar .icon-exit{
    position: relative;
    top: 2px;
}
.toolbar .right{
    width: 50%;
    float: right;
    text-align: right;
    font-size: 1.5em;
}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}
h1{
    font-size: 3.4em;
    margin: 0.67em 0;
    color: #444;
}
.mn_bar{
    display: block;
    left: 16px;
    top: 39px;
    z-index: 15;
    -webkit-box-shadow: 0 5px 5px -5px rgba(85, 55, 32, 0.5);
    box-shadow: 0 5px 5px -5px rgba(85, 55, 32, 0.5);
    display: block;
    left: 16px;
    position: absolute;
    top: 27px;
}
.mn_bar>div {
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.mn_bar>div>span {
    background-color: #fff;
    display: inline-block;
    height: 4px;
    left: 15px;
    position: absolute;
    top: 42px;
    width: 30px;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -ms-transition: border 0.5s;
}
.mn_bar>div>span:before {
    top: -9px;
}
.mn_bar>div>span:after {
    top: 9px;
}
.mn_bar>div>span:after, .mn_bar>div>span:before {
    background-color: #fff;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    width: 30px;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
}