@font-face {
  font-family: 'icomoon';
  src:  url('/forum/fonts/fonts/icomoon.eot?8tmcvh');
  src:  url('/forum/fonts/fonts/icomoon.eot?8tmcvh#iefix') format('embedded-opentype'),
    url('/forum/fonts/fonts/icomoon.ttf?8tmcvh') format('truetype'),
    url('/forum/fonts/fonts/icomoon.woff?8tmcvh') format('woff'),
    url('/forum/fonts/fonts/icomoon.svg?8tmcvh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-letter:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e971";
}
.icon-exit:before {
  content: "\ea13";
}
.icon-enter:before {
  content: "\ea14";
}
.icon-question:before {
  content: "\ea09";
}

